$red-primary-color:#942121;
$blue-primary-color:#3C55A5;
$grey-primary-color:#636564;
$red-secondary-color:#CC333C;
$blue-secondary-color:#5595D5;
$grey-secondary-color:#808080;
$info-red:#FFB4B4;
$info-blue:#CADEF5;
$info-grey:#E7E7E7;
$red-team-dark-color:#4a1212;
$configuration-width: 200px;
$configuration-height: 100px;
$clock-rect: 340px;
$boom-color:#3F1212;
$boom-rect: 300px;
$boom-bot-w: 90px;
$boom-bot-h: 72px;
$lg-length:48px;
$sm-length:12px;