$red-team-color:#942121;
$red-team-dark-color:#4a1212;
$configuration-width: 200px;
$configuration-height: 100px;
$clock-rect: 340px;
$boom-rect: 300px;
$boom-bot-w: 90px;
$boom-bot-h: 72px;
$red-team-color:#942121;
$red-team-dark-color:#4a1212;