dist/
build/
coverage/
node_modules/
frontend/**/dist/
frontend/**/node_modules/

dist
node_modules
.turbo
.next
coverage
build
.DS_Store
*.log
pnpm-lock.yaml
package-lock.json
yarn.lock

