@font-face {
    font-family: 'ClockStyle';
    src: url('@/assets/font/digital.otf') format('opentype');
}
@font-face {
    font-family: 'R2B1Style';
    src: url('@/assets/font/coolvetica-rg.otf') format('opentype');
}
  