$red-primary-color: #942121;
$blue-primary-color: #3c55a5;
$grey-primary-color: #4b4d4c;
$green-primary-color: #b4e7c1;
$purple-primary-color: #e7c1e7;
$red-secondary-color: #cc333c;
$blue-secondary-color: #5595d5;
$grey-secondary-color: #808080;
$green-secondary-color: #e7e7e7;
$purple-secondary-color: #e7e7e7;
$info-red: #ffb4b4;
$info-blue: #cadef5;
$info-grey: #e7e7e7;
$info-green: #e7e7e7;
$info-purple: #e7e7e7;
$red-team-dark-color: #4a1212;
$configuration-width: 200px;
$configuration-height: 100px;
$clock-rect: 340px;
$boom-color: #3f1212;
$boom-rect: 300px;
$boom-bot-w: 90px;
$boom-bot-h: 72px;
$lg-length: 48px;
$sm-length: 12px;
